body {
    margin: 0
}

#screen {
    overflow: hidden;


}

/* ----- effekter ----- */

.hide {
    display: none;
}

.show {
    visibility: visible;
}

.fade_out {
    animation-name: fade_in_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    /*    animation-direction: reverse;*/
    animation-fill-mode: both;

}

@keyframes fade_in_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade_in {
    animation-name: fade_in_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: both;
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}



.rykstjerne {
    animation-name: rykstjerne_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes rykstjerne_kf {
    0% {
        transform: translate(10vw, 20vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}






.rykkaramelstang {
    animation-name: rykkaramelstang_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    cursor: pointer;
}


@keyframes rykkaramelstang_kf {
    0% {
        transform: translate(-50vw, 20vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}





.rykappelsin {
    animation-name: rykappelsin_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes rykappelsin_kf {
    0% {
        transform: translate(30vw, -10vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}






.rykaeg {
    animation-name: rykaeg_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes rykaeg_kf {
    0% {
        transform: translate(60vw, 70vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}





.rykbananer {
    animation-name: rykbananer_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes rykbananer_kf {
    0% {
        transform: translate(-90vw, 20vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}





.rykpaere {
    animation-name: rykpaere_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes rykpaere_kf {
    0% {
        transform: translate(60vw, 40vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}





.rykvindruer {
    animation-name: rykvindruer_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes rykvindruer_kf {
    0% {
        transform: translate(90vw, 60vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}





.rykslikstang {
    animation-name: rykslikstang_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes rykslikstang_kf {
    0% {
        transform: translate(60vw, 65vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}





.rykkonfekt {
    animation-name: rykkonfekt_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes rykkonfekt_kf {
    0% {
        transform: translate(20vw, 20vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}





.rykvandmelon {
    animation-name: rykvandmelon;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes rykvandmelon {
    0% {
        transform: translate(5vw, 5vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}







.rykaeg1 {
    animation-name: rykaeg1_kf;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: 10;
}

@keyframes rykaeg1_kf {
    0% {
        transform: translate(-3vw, -2vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}



.rykbanan1 {
    animation-name: rykbanan1_kf;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: 10;
}

@keyframes rykbanan1_kf {
    0% {
        transform: translate(-1vw, -2vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}




.rykslikstang1 {
    animation-name: rykslikstang1_kf;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: 10;
}

@keyframes rykslikstang1_kf {
    0% {
        transform: translate(-3vw, 0vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}




.rykvindrue1 {
    animation-name: rykvindrue1_kf;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: 10;
}


@keyframes rykvindrue1_kf {
    0% {
        transform: translate(-3vw, -2vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}




/* -----------spilleskærm--------------- */



#game {
    overflow: hidden;
    z-index: 0;

}

#spilleskaerm {
    background-image: url(produktion/Spillesk%C3%A6rm.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    position: relative;

}

#bananen {
    background-image: url(produktion/Bananer.svg);
    background-size: 100%;
    width: 15.4vw;
    height: 12vw;
    position: absolute;
    left: 30vw;
    top: 30vw;
    cursor: pointer;
}

#appelsin {
    background-image: url(produktion/appelsin.svg);
    background-size: 100%;
    width: 9vw;
    height: 8vw;
    position: absolute;
    left: 24.5vw;
    top: 13vw;
    cursor: pointer;
}

#karamelstang {
    background-image: url(produktion/karamelstang.svg);
    background-size: 100%;
    width: 9.2vw;
    height: 10vw;
    position: absolute;
    left: 13vw;
    top: 30vw;
    cursor: pointer;
}

#lakrids_stjerne {
    background-image: url(produktion/lakrids_stjerne.svg);
    background-size: 100%;
    width: 9.5vw;
    height: 10vw;
    position: absolute;
    left: 6vw;
    top: 10vw;
    cursor: pointer;
}

#lakridskonfekt {
    background-image: url(produktion/lakridskonfekt.svg);
    background-size: 100%;
    width: 7vw;
    height: 8vw;
    position: absolute;
    left: 48.7vw;
    top: 32vw;
    cursor: pointer;
}

#paere {
    background-image: url(produktion/p%C3%A6re.svg);
    background-size: 100%;
    width: 6vw;
    height: 9vw;
    position: absolute;
    left: 42vw;
    top: 14vw;
    cursor: pointer;
}

#slikstang {
    background-image: url(produktion/slikstang.svg);
    background-size: 100%;
    width: 9vw;
    height: 11vw;
    position: absolute;
    left: 54vw;
    top: 15vw;
    cursor: pointer;
}

#vandmelon {
    background-image: url(produktion/vandmelon.svg);
    background-size: 100%;
    width: 14vw;
    height: 8.4vw;
    position: absolute;
    left: 43vw;
    top: 47.8vw;
    cursor: pointer;
}

#vindruer {
    background-image: url(produktion/vindruer.svg);
    background-size: 100%;
    width: 10.7vw;
    height: 6.6vw;
    position: absolute;
    left: 52vw;
    top: 2vw;
    cursor: pointer;
}

#aeg {
    background-image: url(produktion/%C3%86g.svg);
    background-size: 100%;
    width: 9vw;
    height: 6.7vw;
    position: absolute;
    left: 26vw;
    top: 46vw;
    cursor: pointer;
}

#points {
    /* background-image: url(produktion/point_100.svg); */
    background-size: 100%;
    width: 7vw;
    height: 4.1vw;
    position: absolute;
    left: 1.2vw;
    top: 2vw;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: center;
    color: yellow;
}

#time {
    background-image: url(produktion/tid_1.svg);
    background-size: 100%;
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 8.5vw;
    top: 2vw;
}

#energy {
    background-image: url(produktion/liv_hjerte.svg);
    background-size: 100%;
    width: 2vw;
    height: 2.5vw;
    position: absolute;
    left: 2.6vw;
    top: 5.5vw;
}

#energy2 {
    background-image: url(produktion/liv_hjerte.svg);
    background-size: 100%;
    width: 2vw;
    height: 2.5vw;
    position: absolute;
    left: 5vw;
    top: 5.5vw;
}

#energy3 {
    background-image: url(produktion/liv_hjerte.svg);
    background-size: 100%;
    width: 2vw;
    height: 2.5vw;
    position: absolute;
    left: 7vw;
    top: 5.5vw;
}



/* -----------titelskærm--------------- */

#titel {
    /*        display: none;*/
}

#titelskærm {
    background-image: url(produktion/Titelsk%C3%A6rm.svg);
    background-size: 100%;
    width: 101vw;
    height: 56.25vw;
    position: absolute;
    z-index: 2;
    top: 0;
}

#aeg1 {
    background-image: url(produktion/%C3%86g.svg);
    background-size: 100%;
    width: 6vw;
    height: 4.4vw;
    position: absolute;
    left: 44vw;
    top: 26.5vw;
    z-index: 2;
}

#banan1 {
    background-image: url(produktion/Bananer.svg);
    background-size: 100%;
    width: 7.8vw;
    height: 6vw;
    position: absolute;
    left: 52vw;
    top: 26.9vw;
    z-index: 2;
}

#slikstang1 {
    background-image: url(produktion/slikstang.svg);
    background-size: 100%;
    width: 6.5vw;
    height: 8vw;
    position: absolute;
    left: 72vw;
    top: 22vw;
    z-index: 2;
}

#vindrue1 {
    background-image: url(produktion/vindruer.svg);
    background-size: 100%;
    width: 7vw;
    height: 4.3vw;
    position: absolute;
    left: 83vw;
    top: 27vw;
    z-index: 2;
}

#indstillinger_knap {
    background-image: url(produktion/settings_knap.svg);
    background-size: 100%;
    width: 7.5vw;
    height: 5vw;
    position: absolute;
    left: 6vw;
    top: 1.5vw;
    cursor: pointer;
    z-index: 2;
}

#play_knap {
    background-image: url(produktion/Play_knap.svg);
    background-size: 100%;
    width: 12vw;
    height: 9.3vw;
    position: absolute;
    left: 59vw;
    top: 18vw;
    cursor: pointer;
    z-index: 2;
}


/* -----------indstillinger--------------- */
#settings {}

#indstillinger {
    background-image: url(produktion/indstillinger_vindue.svg);
    background-size: 100%;
    width: 35vw;
    height: 36vw;
    position: absolute;
    left: 33vw;
    top: 9vw;
    z-index: 3;
}

#kryds {
    background-image: url(produktion/kryds_knap.svg);
    background-size: 100%;
    width: 4vw;
    height: 3.5vw;
    position: absolute;
    left: 36vw;
    top: 11.5vw;
    cursor: pointer;
    z-index: 3;
}

#luk {
    background-image: url(produktion/luk_knap.svg);
    background-size: 100%;
    width: 16vw;
    height: 5.5vw;
    position: absolute;
    left: 42.6vw;
    top: 38vw;
    cursor: pointer;
    z-index: 3;
}

/* -----------introduktion--------------- */

#introduktion {}

#intro {
    background-image: url(produktion/intro_vindue.svg);
    background-size: 100%;
    width: 50vw;
    height: 40vw;
    position: absolute;
    left: 26vw;
    top: 7.5vw;
    z-index: 4;
}

#kryds1 {
    background-image: url(produktion/kryds_knap.svg);
    background-size: 100%;
    width: 3vw;
    height: 2.6vw;
    position: absolute;
    left: 29vw;
    top: 10vw;
    z-index: 4;
}

#spil1 {
    background-image: url(produktion/spil_knap.svg);
    background-size: 100%;
    width: 13vw;
    height: 6vw;
    position: absolute;
    left: 45vw;
    top: 39vw;
    cursor: pointer;
    z-index: 4;
}

/* -----------gameover--------------- */

#tabt {}

#gameover {
    background-image: url(produktion/game_over_vindue.svg);
    background-size: 100%;
    width: 35vw;
    height: 36vw;
    position: absolute;
    left: 33vw;
    top: 9vw;
    z-index: 1;
}

#kryds2 {
    background-image: url(produktion/kryds_knap.svg);
    background-size: 100%;
    width: 4vw;
    height: 3.5vw;
    position: absolute;
    left: 35.3vw;
    top: 11vw;
    cursor: pointer;
    z-index: 1;
}

#spil_igen1 {
    background-image: url(produktion/pr%C3%B8v_igen_knap.svg);
    background-size: 100%;
    width: 12vw;
    height: 4.1vw;
    position: absolute;
    left: 45vw;
    top: 39vw;
    cursor: pointer;
    z-index: 1;
}

/* -----------levelcomplete--------------- */

#vundet {}

#levelcomplete {
    background-image: url(produktion/level_complete_vindue.svg);
    background-size: 100%;
    width: 35vw;
    height: 36vw;
    position: absolute;
    left: 33vw;
    top: 9vw;
    z-index: 1;
}

#kryds3 {
    background-image: url(produktion/kryds_knap.svg);
    background-size: 100%;
    width: 4vw;
    height: 3.5vw;
    position: absolute;
    left: 35.3vw;
    top: 11vw;
    cursor: pointer;
    z-index: 1;
}

#spil_igen2 {
    background-image: url(produktion/pr%C3%B8v_igen_knap.svg);
    background-size: 100%;
    width: 12vw;
    height: 4.1vw;
    position: absolute;
    left: 45vw;
    top: 39vw;
    cursor: pointer;
    z-index: 1;
}
